*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;
}

body{
    background-color: black;
    color: aliceblue;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/header-image.png');
    background-size: 100% 100%;
    background-position: center;
    position: relative;
    
}

.logo img{
    padding: 25px 25px;
}


.logo button{
    border: 0;
    outline: 0;
    background-color: rgba(255, 0, 0, 0.636);
    color: rgba(245, 245, 245, 0.859);
    padding: 10px 25px;
    font-size: x-large;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 100px;
    margin-left: 1500px;
}

.myname{
    margin-left: 25px;
    font-size: x-large;
    cursor: default;
    color: red;
}

.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 50px;
}

.header-content h1{
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;
}

.header-content h3{
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 10px;
}

.email-signup{
    background: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}

.email-signup input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
    font-size: 18px;
}

.email-signup button{
    background: red;
    border: 2;
    outline: 0;
    color: whitesmoke;
    font-size: 18px;
    cursor: pointer;
    padding: 15px 30px;
}


/*----------------------features-----------------------*/

.features{
    padding: 50px 12px;
    font-size: 22px;
    
}

.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0px;
}

.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
    font-weight: bolder;
    margin-left: 90px;
    
}

.image-col{
    flex-basis: 30%;
    margin-bottom: 20px;
    
}

.image-col img{
    display: block;
    width: 80%;
    margin: auto;
}

.features h2{
    font-size: 70px;
    font-weight: bolder;
    margin-bottom: 20px;
    line-height: 80px;
}


/*------------------------------------faq---------------------------------------*/
.faq{
    padding: 10px 12%;
    text-align: center;
    
}

.faq h2{
    font-weight: bolder;
    font-size: 50px;
    text-decoration: underline;
}


.accordion{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}

.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}

.accordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: trasnform 1s;
}

input[type="radio"]{
    display: none;
}

.accordion .content{
    background: black;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s, padding 1s;
}

.accordion input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}

.accordion input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}

.faq .email-signup{
    max-width: 600px;
    margin: 20px auto 60px;
}

.faq small{
    font-size: 15px;
}
















@media(max-width: 750px){
    .logo img{
        width: 170px;
    }
    
    .logo button{
        margin-left: 100px;
    }

    .header-content h1{
        font-size: xx-large;
        line-height: 50px;
    }

    .email-signup{
        height: 55px;
    }

    .email-signup button{
        font-size: 15;
    }

    .myname{
        font-size: 15px;
    }

    .text-col h2{
        font-size: 30;
    }

    .text-col p{
        font-size: 15;
    }

    .image-col img{
        width: 250px;
    }

    .features h2{
        font-size: xx-large;
        line-height: 40px;
        text-align: left;
        
    }

    .features p{
        text-align: left;
    }

    .image-col img{
        margin-left: 60px;
    }

    .faq h2{
        font-size: xx-large;
    }

    .faq .email-signup{
        height: 60px;
        width: 330px;
    }
}
